<!-- # <%= @poster %> -->
<!-- <a href="<%= @url %>">Link</a> -->
<!-- @movie_name[] -->

<!-- # <%= @empty_arr %> -->


<!-- # <%= @titles %> -->




<ul>
  <% @empty_arr.each do |title| %>
  <li><a href = "http://omdbapi.com?t=<%=title%>"><%=title%></a></li>
  <% end %>
</ul>



<img src="<%= @poster %>">
<p>Directed by <%= @director %></p>
<p>Plot: <%= @plot %></p>
