<h2>You searched for '<%= @movie %>'</h2>

<div class="float">
  <div class="left">
    <img src="<%= @poster %>">
  </div>

  <div class="right">
    <ul>
      <li><strong>Title:</strong> <%= @title %> </li>
      <li><strong>Director:</strong> <%= @director %> </li>
      <li><strong>Year:</strong> <%= @year %> </li>
      <li><strong>Rated:</strong> <%= @rated %> </li>
      <li><strong>Genre:</strong> <%= @genre %>  </li>
      <li><strong>Runtime:</strong> <%= @runtime %> </li>
    </ul>

    <p><strong>Plot Summary:</strong> <%= @plot %></p>
  </div>

  <div class="clear"></div>
</div>
