<h2>This is my arithmetic page</h2>

<p>
First number: <%= @first_num %>
</p>

<p>
  Operation: <%= @operation %>
</p>

<p>
Second number: <%= @second_num %>
</p>

<p>
  Result : <%=  @result %>
</p>

<p>
  Result : <%= number_to_human(@result) %>
</p>
