<h1>Rock Paper Scissors</h1>

<p> Rock, paper or scissors?</p>

<!-- <form action="/rock_paper_scissors_result">
    <p> Rock, paper or scissors?</p>
    <p class="input">
        <label>Rock</label>
        <input id="rock" type="radio" value=<%="Rock"%> >

        <label>Paper</label>
        <input id="paper" type="radio" value=<%="Paper"%> >

        <label>Scissors</label>
        <input id="scissors" type="radio" value=<%="Scissors"%> >
    </p>
    <button>Submit</button>
</form> -->

<p>Users choice: <%= @user_choice %></p>
<p>Computers choice: <%= @computer_choice %>
<p>Result: <%= @result %></p>
