<h2>Production: <%= @movie_name %></h2>
<hr>
<h2>Director: <%= @director %></h2>
<hr>
<h2>Actors: <%= @actors %></h2>
<hr>
 <h2>Year: <%= @year %></h2>
<hr>
<p>Plot:<%= @plot %></p>
<hr>
<h2>Poster:</h2>
<img src="<%= @poster %>">
