
<p>Brand: <%= @guitar.brand %></p>

<p>Model: <%= @guitar.model %></p>

<p>Color: <%= @guitar.color %></p>

<p>Manufactured: <%= @guitar.manufactured %></p>

<p>Image: <%= @guitar.image %></p>

<div class="controls">
  <a href="/guitars/<%= @guitar.id %>/edit">Edit this listing</a>
</div>
