
<h1>A list of all Users in the system</h1>

<p>User One: <%= @user_one %></p>
<p>User Two: <%= @user_two %></p>
<p>User Three: <%= @user_three %></p>
<p>Users:  <%= p @users %></p>

  <% @users.each do |u| %>
  <p>
    <a href="/members/<%= u %>">
      <%= u %>
    </a>
  </p>
  <% end %>
