<h2>
  <%= @band["name"] %>
</h2>

<p>
  Genre: <%= @band["genre"] %>
</p>

<p>
  Bio: <%= @band["bio"] %>
</p>

<div class="photo">
  <img src="<%= @band['image'] %>">
</div>

<div class="controls">
  <a href="/bands/<%= @band['id'] %>/edit">Edit your band details</a>
</div>
