<h2>
  <%= @engineer["name"] %>
</h2>

<p>
  Bio: <%= @engineer["bio"] %>
</p>

<p>
  Gear: <%= @engineer["gear"] %>
</p>

<div class="photo">
  <img src="<%= @engineer['image'] %>">
</div>

<div class="controls">
  <a href="/engineers/<%= @engineer['id'] %>/edit">Edit your details</a>
  <a href="/engineers/<%= @engineer['id'] %>/delete">
    Delete my listing</a>
</div>
