<h1><%= @venue.name %></h1>

<p>Location:<%= @venue.location %></p>

<p>Capacity:<%= @venue.capacity %></p>

<% if @venue.image %>
  <p>Venue image: <img src="<%= @venue.image %>" alt=""></p>
<% end %>

<div class="controls">
  <a href="/venues/<%= @venue.id %>/edit">Edit this venue listing</a>
</div>
