<h1><%= @venue.name %></h1>

<p>Location:<%= @venue.location %></p>

<p>Capacity:<%= @venue.capacity %></p>

<% if @venue.image %>
  <img src="<%= @venue.image %>" alt="">
<% end %>

<div class="controls">
  <a href="/venues/<%= @venue.id %>/edit">Edit this venue listing</a>
  <%= button_to "Delete this venue listing", "/venues/#{@venue.id}/delete", method: :delete %>
</div>
