<!DOCTYPE html>
<html>
  <head>
    <title>Bookapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to("All Authors", "/authors") %>
      <%= link_to("New Authors", "/authors/new") %>
      <%= link_to("All books", books_path() ) %>
      <%= link_to("New book", new_book_path() ) %>
    </nav>

    <hr>
    <%= yield %>
    <hr>

  </body>
</html>
