

<h1>This is the Animal Profile Page</h1>


<!-- The profile page -->

<h2>
  Species:<%= @animal["species"] %>
</h2>

<p>
  Description: <%= @animal["description"] %>
</p>

<p>
  Image: <%= @animal["image"] %>
</p>

 <%#= @animal %>
<!-- CTRL + SHIFT + . -->

<div class="controls">
  <a href="/animals/<%= @animal['id'] %>/edit">
    Edit this animal
  </a>
</div>

<div class="controls">
  <a href="/animals/<%= @animal['id'] %>/delete">
    Delete this animal
  </a>
</div>
