<h1>Create post</h1>

<%= form_for @post do |f| %>
<p>
  <%= f.label :heading %>
  <%= f.text_field :heading, required: true %>
</p>
<p>
  <%= f.label :content %>
  <%= f.text_area :content, required: true %>
</p>

<%= f.submit %>
<% end %>
